@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');


:root{
    --fullHeight: 627px;
    --headingFont: 'Cinzel', serif;;
    --paraFont: 'Montserrat', sans-serif;
    --firstColor : #0099E4;
    --secondColor: #7278D0;
    --thirdColor: #A150A1;
    --fourthColor: #AE2761;
    --gradient: linear-gradient(129deg, #0099E4 0%, #7278D0 30%, #A150A1 65%, #AE2761 100%);
}

.Toastify__toast{
    font-family: var(--paraFont) !important;
}

*{
    padding: 0px;
    margin: 0px;
}

body{

}

h1, h2, h3, h4, h5, h6{
    color: black;
    font-family: var(--headingFont);
    text-transform: capitalize;
}

a{
    text-decoration: none;
}

p{
    color: black;
    font-family: var(--paraFont);
}

label{
    color: black;
    font-family: var(--headingFont);
}

.btn{
    font-family: var(--headingFont);
    text-transform: uppercase;
    padding: 8px 30px;
    border: none;
    outline: none;
    cursor: pointer;
    letter-spacing: 1px;
    transition: .2s ease;
    background-color: var(--fourthColor);
}
.btn:hover{
    transform: scale(.95);
}
.btn-submit{
    background-color: var(--thirdColor);
    color: white;
}
.btn-advertise{
    background-color: var(--fourthColor);
    color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 20px var(--thirdColor);
}


.input{
    font-size: 16px;
    font-weight: 500;
    padding: 7px 7px 2px;
    border: none;
    font-family: var(--paraFont);
    font-family: var(--paraFont);
    outline: none;
    border-bottom: 2px solid var(--secondColor);
}
.span{
    position: absolute;
    width: 0%;
    height: 2px;
    top: 28px;
    background-color: var(--fourthColor);
    transition: .5s ease;
}
.input:focus ~ .span{
    width: 100%;
}

.input:focus ~ .label,
.input:not(:placeholder-shown).input:not(:focus) ~ .label{
    top: -10px;
    font-size: 14px;
    left: 10px;
}
.input:placeholder-shown ~ .label{
    cursor: auto;
}

.label{
    font-size: 16px;
    color: black;
    font-weight: 500;
    position: absolute;
    top: 2px;
    left: 5px;
    transition: top .25s ease,
                left .25s ease,
                font-size .25s ease;
}