.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
}
.profile-body{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}
.profile-cover{
    height: 170px;
    width: 100%;
    background: var(--gradient);
    border-radius: 20px;
    z-index: 1;
}
.profile-body>input{
    z-index: 0;
    margin-top: -50px;
    margin-left: 30%;
    /* opacity: 0; */
}
.profile-header{
    margin: -70px 0px 0px 0px;
    z-index: 2;
    padding: 0px 80px;
    position: relative
}
.profile-header>img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.profile-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.336);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: -154px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    transition: .5s ease;
}
.profile-overlay>svg{
    color: white;
    font-size: 30px;
}
.profile-overlay:hover{
    opacity: 1;
}
.profile-header>p{
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    margin-left: 20px;
}
.profile-header>button{
    position: absolute;
    right: 50px;
    top: 80px;
}
.myservice{
    border: 1px solid var(--secondColor);
    height: auto;
    width: 95%;
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 5px;
}
.myservice > .head {
    display: flex;
    justify-content: space-between;
    flex-direction: row !important;
    align-items: flex-end;
}
.service-content {
    display: flex;
    gap: 10px;
    align-items: center;
}
.keywords{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.actions {
    display: flex;
    gap: 10px;
}
.actions > svg{
    font-size: 18px;
    transition: .25s ease;
    cursor: pointer;
}
.actions > svg:nth-of-type(1):hover{
    color: var(--firstColor);
}
.actions > svg:nth-of-type(2):hover{
    color: var(--fourthColor);
}

.bookings {
    border: 1px solid var(--secondColor);
    height: auto;
    min-height: 70px;
    width: 95%;
    border-radius: 10px;
    padding: 15px 20px;
    margin-top: -15px;
}

