.navbar{
    display: flex;
    justify-content: space-between;
    padding: 12px 50px 10px;
    height: 40px;
    background: var(--gradient);
    border-bottom: 1px solid rgb(170, 170, 170);
}
.navbar>a>h1{
    cursor: pointer;
    font-size: 30px;
    letter-spacing: 1px;
    /* color: var(--firstColor); */
    color: white;
}
.nav{
    list-style-type: none;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.nav>a>li{
    font-size: 16px;
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: var(--headingFont);
}
.nav>a>img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

